
<div *ngIf="user.role !== 'admin'; else elseBlock">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button type="button" style="background-color: #607d8b" class="btn btn-secondary my-2 my-sm-2" (click)="sortMovies()">Sort by Rating <span class="sr-only">(current)</span></button>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

        <button (click)="logout()" style="background-color: #607d8b" class="btn btn-secondary my-2 my-sm-2" type="submit">Logout</button>
      </form>
    </div>
  </nav>
    <div class="grid grid-pad">
      <a routerLink="/movie-detail" *ngFor="let movie of movies" class="col-1-4" (click)="onSelect(movie)">
        <div class="module hero">
          <h4>{{movie.title}}</h4>
        </div>
      </a>
    </div>

  <!--
  <div *ngIf="sorted">
    <div class="grid grid-pad">
      <a routerLink="/movie-detail" *ngFor="let movie of movies" class="col-1-4" (click)="onSelect(movie)">
        <div class="module hero">
          <h4>{{movie.title}}</h4>
        </div>
      </a>
    </div>
  </div> -->

  </div>


  <ng-template #elseBlock>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarSupportedContent-1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a style="font-size: medium" class="nav-link" href="#">Add Movie <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

          <button (click)="logout()" style="background-color: #607d8b" class="btn btn-secondary my-2 my-sm-2" type="submit">Logout</button>
        </form>
      </div>
    </nav>
    <div class="grid grid grid-pad">
      <div *ngFor="let movie of movies" class="col-1-4">
        <div class="module hero">
          <h4>{{movie.title}}</h4>
          <button style="background-color: #607d8b" data-toggle="modal" (click)="setMovie(movie)" data-target="#exampleModalCenter" class="btn btn-secondary my-2 my-sm-2" type="button">Update</button>
          <button style="background-color: #607d8b; margin-left:10px"  (click)="deleteMovie(movie)"  class="btn btn-secondary my-2 my-sm-2" type="button">Delete</button>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Update Movie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div style="margin-bottom: 1rem" class="form-label-group">
                <input  class="form-control border border-left-0 w-10" placeholder="Title" style="background-image: none !important; background-color: #EFEFEF;" #title>
              </div>
              <div class="form-label-group">
                <input   class="form-control border border-left-0 w-10" placeholder="Description" style="background-image: none !important; background-color: #EFEFEF;" #description>
              </div>
          </div>
          <div class="modal-footer">
            <button style="background-color: #607d8b" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="updateMovie(title.value, description.value)">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </ng-template>




